// Folders
$assetImages: '~@/assets/images';

// Colors
$aquamarine: #00dfbf;
$aquamarine--light: #00fef4;
$bright-sky-blue: #00c4ff;
$ice-blue: #f2f7f9;
$ice-blue--light: #f2f7f9;
$black: #000000;
$white: #ffffff;
$greyish-teal: #849392;
$red-pink: #eb2653;

// margin
$container: 1000px;

// tmp compilation errors workaround
$font-regular: '';
$font-bold: '';
